{:paths   ["src"]
 :deps    {org.clojure/clojure {:mvn/version "1.10.1"}
           com.cognitect/transit-java {:mvn/version "1.0.343"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {lambdaisland/kaocha {:mvn/version "1.0.732"}
                                org.clojure/test.check {:mvn/version "1.0.0"}}
                  :main-opts   ["-m" "kaocha.runner"]}}}
